<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EFFREM.My.MySettings.gestion_efrrem_2ConnectionString" connectionString="Data Source=GMK\SQLEXPRESS;Initial Catalog=gestion_efrrem_2;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="EFFREM.My.MySettings.TP_LangProg3_2022ConnectionString" connectionString="Data Source=GMK\GMK1;Initial Catalog=TP_LangProg3_2022;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
